<div class="container">
  <div>
    <h2>To Do List</h2>
  </div>
  <div class="list" *ngFor="let task of tasks">
    <input type="checkbox" [checked]="task.status === 'Done'" (change)="toggleStatus(task)"/>
    
    <div *ngIf="task.isEditing; else viewMode">
      <input type="text" [(ngModel)]="task.task" class="edit-input" />
      <button class="save-btn" (click)="toggleEdit(task)">Save</button>
    </div>
    
    <ng-template #viewMode>
      <p [ngClass]="{'done-task': task.status === 'Done'}">{{ task.task }}</p>
      <button class="edit-btn" (click)="toggleEdit(task)" >Edit</button>
    </ng-template>
    <button class="delete-btn" (click)="deleteTask(task)">Delete</button>
  </div>
</div>
